<a href="https://colab.research.google.com/github/Rushikesh3005/tweets_sentiment_analysis/blob/main/Negative_tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Aproach:-
1.first import the Libraries 

2.Import dataset of Tweets taken from Kaggle.

3.Check for null values preseent in dataset.

4.We will create an instance of WordNetLemmatizer, which we will be using in    the next step. Also, we will call the Stop Words from the NLTK library.

5.we will define a function to preprocess the text. In this function, first, we converted the input string to lowercase. Then, we extracted only the letters from this string. This task is performed using Regular Expressions. Next, we tokenized the string. After tokenizing, we filtered the text of stop words. At last, we lemmatized the remaining words and returned these words.

6.Now, we will apply this function to every text in the ‘text‘ column.

7.we will calculate the number of resultant words for each text.

8.we defined the generic Negative Words from Opinion Lexicon and count the negative words in each tweet.

9.Divide negative words by total word to get degree of profanity

In [ ]:
#import liabraies
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re

In [ ]:
#mounting google colab to drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#uploading tweets csv file to google colab notebook
df=pd.read_csv('/content/drive/MyDrive/assignment/Tweets.csv')

In [ ]:
df

                                                    text
0                    I`d have responded, if I were going
1          Sooo SAD I will miss you here in San Diego!!!
2                              my boss is bullying me...
3                         what interview! leave me alone
4       Sons of ****, why couldn`t they put them on t...
...                                                  ...
27475   wish we could come see u on Denver  husband l...
27476   I`ve wondered about rake to.  The client has ...
27477   Yay good for both of you. Enjoy the break - y...
27478                         But it was worth it  ****.
27479     All this flirting going on - The ATG smiles...

[27480 rows x 1 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27480 entries, 0 to 27479
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    27480 non-null  object
dtypes: object(1)
memory usage: 214.8+ KB

In [ ]:
df.isnull().sum()  #Checking for null values

text    0
dtype: int64

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')
def text_prep(x):
     corp = str(x).lower() 
     corp = re.sub('[^a-zA-Z]+',' ', corp).strip() 
     tokens = word_tokenize(corp)
     words = [t for t in tokens if t not in stop_words]
     lemmatize = [lemma.lemmatize(w) for w in words]
    
     return lemmatize
preprocess_tag = [text_prep(i) for i in df['text']]
df["preprocess_txt"] = preprocess_tag
df['total_len'] = df['preprocess_txt'].map(lambda x: len(x))
file = open('/content/drive/MyDrive/assignment/negative-words.txt', 'r')
neg_words = file.read().split()
num_neg = df['preprocess_txt'].map(lambda x: len([i for i in x if i in neg_words]))
df['neg_count'] = num_neg
df['degree of profanity'] = round(( df['neg_count']) / df['total_len'], 2)
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,text,preprocess_txt,total_len,neg_count,degree of profanity
0,"I`d have responded, if I were going","[responded, going]",2,0,0.00
1,Sooo SAD I will miss you here in San Diego!!!,"[sooo, sad, miss, san, diego]",5,2,0.40
2,my boss is bullying me...,"[bos, bullying]",2,1,0.50
3,what interview! leave me alone,"[interview, leave, alone]",3,0,0.00
4,"Sons of ****, why couldn`t they put them on t...","[son, put, release, already, bought]",5,0,0.00
...,...,...,...,...,...
27475,wish we could come see u on Denver husband l...,"[wish, could, come, see, u, denver, husband, l...",10,1,0.10
27476,I`ve wondered about rake to. The client has ...,"[wondered, rake, client, made, clear, net, for...",13,0,0.00
27477,Yay good for both of you. Enjoy the break - y...,"[yay, good, enjoy, break, probably, need, hect...",12,2,0.17
27478,But it was worth it ****.,[worth],1,0,0.00
27479,All this flirting going on - The ATG smiles...,"[flirting, going, atg, smile, yay, hug]",6,0,0.00